* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: rgb(179, 131, 226);
  text-align: center;
  font-size: 10rem;
  opacity: 0.4;
}

form {
  width: 400px;
  max-width: 100%;
  box-shadow: 0 14px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.input {
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
}

.input:focus {
  border-bottom: 1px solid blue;
}

.input::placeholder {
  color: #b5b5b5;
}

.todos {
  background-color: white;
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  padding: 1.4rem;
  font-size: 2rem;
  cursor: pointer;
}

.todos li.completed {
  color: #b5b5b5;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  padding: 10px 0;
  text-align: center;
}
